:root {
    --endeavor_task_color: #162882;
    --sprint_task_color: #8f97bd;
    --passive_color: lightgray;
}

.app {
    border solid orange 1em;
    padding: .7em;
    width: 5in;
}

.day_bar {
    display: grid;
    grid-template: auto auto / 1fr 1fr 1fr ;
    /*grid-template:*/
            /*"a b b" auto*/
            /*". d d" auto;*/
    grid-gap: 0;
    background-color: #fff;
    /*color: var(--endeavor_task_color);*/
    /*grid-template-columns: 1fr 1fr;*/
    /*grid-template-rows: 1fr 1fr;*/
}

.setting_label {
    color: var(--endeavor_task_color);
    font-size: 1em;
    justify-content: center;
}

.setting_value {

}

.sprint_panel {
    /*grid-area: a;*/
    /*height: 6em;*/
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 3;
    font-family: sans-serif;
    font-size: 1em;
    background-color: var(--passive_color);
    /*border: solid var(--passive_color) .2em;*/
    border: solid white .1em;
    padding: 0;
    /*border-radius: .4em;*/
    /*margin: 0 .1em 0 .1em;*/
    margin: 0 ;
}

.label_val_pair {
    margin: .1em 0 .1em 0;
    /*border: solid brown .2em;*/
    display: block;
    /*float: none;*/
    font-family: sans-serif;
    font-size: 1em;
}
.setting_label {
    display: inline-block;
    /*float: right;*/
    color: var(--endeavor_task_color);
    border: solid var(--passive_color) .2em;
    /*background-color: white;*/
}

.setting_value {
    display: inline-block;
    /*float: right;*/
    color: var(--endeavor_task_color);
    border: solid var(--passive_color) .2em;
    /*background-color: white;*/
}


.screen_title {
    /*grid-area: b;*/
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 4;
    padding: .2em;
    font-family: sans-serif;
    color: var(--endeavor_task_color);
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    background-color: #fff;
}

.menu_bar {
    /*grid-area: d;*/
    display: flex;
    flex-direction: row;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 4;

}


.menu_choice {
    flex-grow: 1;
    font-family: sans-serif;
    font-size: .8em;
    text-align: center;
    color: var(--sprint_task_color);
    background-color: var(--passive_color);
    /*border: solid var(--passive_color) .2em;*/
    border: solid white .2em;
    padding: 0;
    border-radius: .4em;
    margin: 0 ;
    /*margin: 0 .1em 0 .1em;*/

}

.menu_choice:hover {
    font-size: 1.2em;
}


/*.menu_choice::before {*/
    /*content: "-|";*/
/*}*/

/*.menu_choice::after {*/
    /*content: "|-";*/
/*}*/

.left_tab {
}

.mid_tab {
}

.right_tab {
}

.task_grid {
    display: flex;
    flex-direction: row;
}

.endeavor_head_bar {
    /*border: solid .15em red  ;*/
    background-color: var(--endeavor_task_color);
    color: white;
    border: solid white .1em;
    margin: 0;
}

.endeavor_name {
    height: 3em;
    overflow: hidden;
    padding: 0 .5em 0 .5em;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
}

.endeavor_head_bar:hover .endeavor_name {
    padding: .5em;
    font-size: 1.1em;
    font-weight: normal;
    height: auto;
}

.endeavor_tasks_label {display: none }

.endeavor_tasks_setting_value {
    float: right;
    display: inline;
    /*color: #162882;*/
    color: var(--endeavor_task_color);
    border: solid .12em var(--endeavor_task_color);
    background-color: white;
    position: relative;
    padding: .1em;
    font-size: 2em;
}

.debug_place_holder {
    border: solid red 10px;
    color: brown;
    background-color: mediumslateblue;
}

.task_list {
    padding: 0;
    border: solid .2em ;
    border-radius: .4em;
    margin: 0 .1em 0 .1em;
}

.tasks_list_endeavor_in_sprint {
    border-color: var(--endeavor_task_color);
}

.tasks_list_endeavor_out_of_sprint {
    border-color: var(--passive_color);
}


.sep {
    padding: 0;
    display: inline-block;
    background-color: lightgray;
    font-size: 1em;
    overflow: hidden;
    /*margin: 0 ;*/
    margin: 1px 1.5em 1px 1.5em ;
}

.sep_story {
    height: 3px;
    color: var(--passive_color);
}

/*.sep_story>p {*/
/*display: none;*/
/*}*/

.sep_sprint_end {
    height: 4px;
    color: var(--passive_color);
    border: solid lightslategrey 2px;
    border-radius: 3px;
}


.sep_story:hover {
    border: solid var(--endeavor_task_color) 2px;
    background-color: white;
    color: #162882;
    font-size: 1.1em;
    height: auto;
    margin: 0  ;
    padding: 0 .5em 0 .5em;
 }

.sep_sprint_end:hover {
    border: solid var(--endeavor_task_color) 2px;
    background-color: white;
    color: var(--endeavor_task_color);
    font-size: 1.1em;
    height: auto;
    margin: 0  ;
    padding: 0 .5em 0 .5em;
}


.task {
    display: block;
    margin: .1em .2em .1em .2em;
}

.first_task_out {
    color: var(--sprint_task_color);
}

.additional_task_out {
    color: var(--passive_color);
}

.task_status {
    display: inline;
}

.task_status::after {
    content: ' - ';
}

.task_head {
    display: inline;
}

.task_body {
    display: inline-block;
    /*float: right;*/
    /*position: relative;*/
    /*right: 1em;*/


    /*https://developer.mozilla.org/en-US/docs/Web/CSS/border-radius*/
    border-radius: 30% / 40%;

    width: .9em;
    Height: .7em;
    overflow: hidden;
    background-color: var(--sprint_task_color);
    color: var(--sprint_task_color);
    margin: 0;
}

.task_body:active {
    width: 100%;
    color: var(--endeavor_task_color);
    border-radius: 0;
    height: auto;
    /*margin: 0 2em 0 2em;*/
    background-color: white;
}

.show_endeavor_editor {
    background-color: var(--passive_color);
    color: var(--sprint_task_color);
    border: solid white .1em;
    margin: 0;
    overflow: hidden;
    padding: .4em;
    font-family: sans-serif;
    font-size: 1em;
    text-align: center;
}

